<!doctype html>
<html>
    <head>
        <title>Mortgage Calculator</title>
    </head>
    <body>
        <h1>Mortgage Calculator</h1>
        <form class="calc_form" action="{{ url_for('calc')}}" method="POST">
            <label>Home value:</label><br>
            <input type='number' name='home_value' value="{{ home_value }}" placeholder="100000">
            <br>
            <label>Loan amount:</label><br>
            <input type='number' name='loan_amount' value="{{ loan_amount }}" placeholder="90000">
            <br>
            <label>Interest rate %:</label><br>
            <input type='number' name='interest_rate' value="{{ interest_rate }}" placeholder="4">
            <br>
            <label>Loan term (in months):</label><br>
            <input type='number' name='loan_term' value="{{ loan_term }}" placeholder="360">
            <br>
            <label>Property tax %:</label><br>
            <input type='text' name='property_tax' value="{{ property_tax }}" placeholder="5">
            <br>
            <label>PMI %:</label><br>
            <input type='text' name='PMI_percent' value="{{ PMI_percent }}" placeholder="1.5">
            <br>
            <input type='submit' name='submitButton' value='Submit'>
        </form>
        <br>
        <p>
            Monthly Payment: {{ monthly_payment }}
        </p>
        <br>
        <p>
            Total repayment w/ interest:
        </p>
        <br>
        <p>
            Interest paid:
        </p>
        <br>
        <p>
            Tax paid:
        </p>
        <br>
        <p>
            PMI payments:
        </p>
        <br>
        <p>
            PMI total:
        </p>
        <br>
        <br>
        Home value: {{ home_value }}
        <br>
        Loan amount: {{ loan_amount }}
        <br>
        Interest rate %: {{ interest_rate_percent }}
        <br>
        Loan term: {{ loan_term }}
        <br>
        Property tax %: {{ property_tax_percent }}
        <br>
        PMI %: {{ PMI_percent }}
    </body>
</html>
