<!doctype html>
<html>
    <head>
        <title>Mortgage Calculator</title>
    </head>
    <body>
        <h1>Mortgage Calculator</h1>
        <form class="calc_form" action="{{ url_for('calc')}}" method="POST">
            <label>Home value:</label><br>
            <input type='number' name='home_value' value="{{ form_data.get('home_value') }}" placeholder="100000">
            <br>
            <label>Loan amount:</label><br>
            <input type='number' name='loan_amount' value="{{ form_data.get('loan_amount') }}" placeholder="90000">
            <br>
            <label>Interest rate %:</label><br>
            <input type='number' name='interest_rate' value="{{ form_data.get('interest_rate') }}" placeholder="4">
            <br>
            <label>Loan term (in months):</label><br>
            <input type='number' name='loan_term' value="{{ form_data.get('loan_term') }}" placeholder="360">
            <br>
            <label>Property tax %:</label><br>
            <input type='text' name='property_tax' value="{{ form_data.get('property_tax') }}" placeholder="5">
            <br>
            <label>PMI %:</label><br>
            <input type='text' name='PMI_percent' value="{{ form_data.get('PMI_percent') }}" placeholder="1.5">
            <br>
            <input type='submit' name='submitButton' value='Submit'>
        </form>
        <p>
        {% for key, value in form_data.iteritems() %}
            {{ key }} : {{ value }}
            <br>
        {% endfor %}
        </p>
    </body>
</html>
